<!-- <div class="header">
  <a href="/">WeatherNow</a>
</div> -->
<nav class="navbar navbar-light bg-dark" >
  <span class="navbar-brand mb-0 h1" style="color: white;padding-left:47%"  >WeatherNow</span>
</nav>