<html>
  <head>
    <% include ./_layouts/head %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <style>
      .container {
        margin-top: 10px;
        background-color: lightblue;
        text-align: center;
        width: fit-content;
        line-height: 2em;
      }
    </style>
  </head>
  <body>
    <% include ./_layouts/header %>
    <div class="container">
      <h3><%= message %></h3>
      <p>You need to update your location</p>
      <a class="btn btn-primary" href="users/update" style="text-decoration: none;">Update Now</a>
      <a class="btn btn-primary" href="users/logout" style="text-decoration: none;">Logout</a>
    </div>
  </body>
</html>
