<html>
  <head>
    <% include ./_layouts/head %>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include ./_layouts/header %>
    <div class="wrapper">
      <a class="btn btn-primary" href="/users/register">Register</a>
      <a class="btn btn-primary" href="/weather">Weather</a>
    </div>
  </body>
</html>
