<html>
  <head>
    <% include ../_layouts/head %>
  </head>
  <body>
    <% include ../_layouts/header %>
    <div class="container">
      <h2 style="text-align: center;">Login Form</h2>
      <div class="row">
        <form action="" method="POST" id="loginForm">
          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class="col-sm-10">
              <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Enter email"
                name="email"
                required
              />
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="pwd">Password:</label>
            <div class="col-sm-10">
              <input
                type="password"
                class="form-control"
                id="pwd"
                placeholder="Enter password"
                name="password"
                required
              />
            </div>
          </div>
          <div class="alert alert-danger" role="alert" id="errorAlert" style="display:none"></div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-primary">Login</button>
              Are you new??<u><a href="/users/register">Register</a></u>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <script>
    $(document).ready(function(e) {
      $("#loginForm").submit(e => {
        e.preventDefault();
        sendData();
      });
    });
    function sendData() {
      var unindexed_array = $("#loginForm").serializeArray();
      var indexed_array = {};

      $.map(unindexed_array, function(n, i) {
        indexed_array[n["name"]] = n["value"];
      });
      $.ajax({
        url: "/api/users/login",
        method: "POST",
        data: indexed_array
      })
        .then(data => {
          $("#loginForm")[0].reset();
          window.location.replace("/weather");
        })
        .catch(e => {
          console.log(e);
        });
    }
  </script>
</html>
